@charset "utf-8";
/* CSS Document */

html {
	max-width: 1014px;
	text-align: center;
}


/* Меню */
.menu {
	height: 299px;
	width: 1014px;
	border: 3px solid darkmagenta;
	background-image: url(../picture/bouquet/bouquet_of_chocolates.jpg);
	
	background-size: 1014px 299px;
	background-repeat: no-repeat;
}

button {
	font-size: 20px;
	color: darkmagenta;
	background-color: pink;
	border: 3px solid darkmagenta;
	border-radius: 40px;
	outline: none;
}

button:hover {
	color: pink;
	border: 3px solid pink;
	background-color: darkmagenta;
	cursor: pointer;
}